<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE</title>
</head>
<body>

<h1>{{.UserName}}'s Blog</h1>

{{range .PicsHrefs}}
    <img src="{{.}}" alt="" style="max-width: 100%">
    <br>
{{end}}

<a href="/blog">Back to blogs</a>
</body>
</html>