<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<h1>Hello from index</h1>
{{.Login}}<br>
{{.PassHash}}<br>
<br>
<a href="/upload">Upload</a>

</body>
</html>