<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE</title>
</head>
<body>

<h1>HEY THERE!</h1>
{{.Login}}<br>
{{.PassHash}}<br>
<br>
<a href="/upload">Upload</a><br>
<a href="/blog/{{.Login}}">Go to my blog page</a><br>
<a href="/blog">Go to blog</a><br>

<br><a href="/logout">Logout</a><br>

</body>
</html>