<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGN UP</title>
</head>
<body>

<h1>SIGN UP</h1>
<form method="post">
    <input type="text" name="login" placeholder="login">
    <input type="password" name="password" placeholder="password">
    <input type="submit">
</form>
<br>
<a href="/login">Back to login</a>
</body>
</html>